block content

  div#confirmationDialog(class="modal")
    div(class="modal-content" style="width:784px; height:450px;")
      div(class="modal-header")
        span(class="close") &times;
        h2 Video Uploaded
      div(class="modal-body") 
        h4#uploadedFileName
        img(src="/icons/upload.svg" style='width:764px; height:210px; text-align:center;')
        div(style="padding: 20px")
          button.modal-btn(id='okUploadConfirmation' style="text-align:center;") OK  
               