block content

  div#deleteDialog(class="modal")
    div(class="modal-content" style="width:484px; height:430px;")
      div(class="modal-header")
        span(class="close") &times;
        h2 Delete Video
      div(class="modal-body")        
        img#deleteDialogImage(style='width:445px; height:270px; text-align:center;')
        div(style="padding: 10px")
          button.modal-btn(id='deleteVideo') Delete  
          button.modal-cancel-btn(id='cancelVideo') Cancel  
               