block content

  div#deleteDialog(class="modal")
    div(class="modal-content" style="width:484px; height:300px;")
      div(class="modal-header")
        span(class="close") &times;
        h2 Video Player
      div(class="modal-body")        
        img(style='width:310px; height:200px; text-align:center;')
      div(style="padding: 24px")   
        div(style="display: block; width:100%; padding-top:0px;")
          button#deleteVideo(class="model-button") Delete  
        div(style="display: block; width:100%; padding-top:0px;")
          button#cancelDelete(class="model-button") Delete  
          